<template name="AppNav">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <div class="app-nav" style="font-size: large;">
        <ul>
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Users Management</span></a></li>
            <li><a href=""><i class="fa fa-file-image"></i><span>Add Pictures</span></a></li>
            <li><a href=""><i class="fa fa-image"></i><span>Add Albums</span></a></li>
        </ul>
    </div>
</template>