<template name="MainNav">
    <nav class="main-nav">
        <ul>
            <li><a href="/">Overview</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/about">About Me</a></li>
            {{#if isInRole 'admin'}}
            <li><a href="/dashboard">Dashboard</a></li>
            {{/if}}
            {{#if currentUser}}
            <li class="logout" style="cursor: pointer; font-size: 16px;">Logout</li>
            {{else}}
            <li class="login-toggle" style="cursor: pointer; font-size: 16px;" >Login/Sign-up</li>
            {{/if}}
        </ul>
    </nav>
</template>