* {
    box-sizing: border-box;
}

$margin-size: 1%;
.toggle-bar {
    // clearfix to allow toggle icons floated right
    display: none;
    width: 100%;
    content: "";
    position: relative;
    clear: both;
    margin-bottom: $margin-size;
}

.icon {
    float: right;
    width: 5%;
    margin-left: $margin-size;
    border-bottom: 1px solid #fff;
    &:hover {
        border-bottom: 1px solid #9e9e9e;
    }
    svg {
        width: 100%;
    }
}

.container {
    max-width: 80%;
    margin: $margin-size * 5 auto;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    .image {
        flex: 1 0 100px;
        margin: 0 $margin-size $margin-size 0;
    }
    img {
        display: block;
        width: 100%;
    }
    .image--2,
    .image--3,
    .image--3-of-5,
    .image--2-of-5 {
        flex-basis: 100%;
    }
    .description {
        margin-bottom: 50px;
        h1 {
            text-align: center;
        }
        p {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 601px) {
    .container {
        max-width: 80%;
    }
    .toggle-bar {
        display: inline-block;
    }
    .layout.layout--collage {
        .image {
            position: relative;
            overflow: hidden;
            &:hover {
                .description {
                    bottom: 0;
                }
            }
        }
        .description {
            // position
            transition: bottom .6s ease-in-out;
            padding: 5px 0 20px 0;
            margin: 0;
            position: absolute;
            width: 100%;
            max-height: 100%;
            bottom: -100%;
            left: 0;
            // color
            background-color: #fff;
            color: #2d2d2d;
            opacity: .8;
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
                max-width: 90%;
            }
        }
        .image--2 {
            flex-basis: 50 - $margin-size;
        }
        .image--3 {
            flex-basis: 33 - $margin-size;
        }
        .image--3-of-5 {
            flex-basis: 60 - $margin-size;
        }
        .image--2-of-5 {
            flex-basis: 40 - $margin-size;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                height: 100%;
                width: auto;
            }
        }
    }
}